<header>
  <nav class="nav-bar">
    <div class="logo">
      <img
        src="https://www5.pmfi.pr.gov.br/images/logo.png"
        alt=""
        width="75px"
        height="90px"
      />
      <h1>CCIAR</h1>
    </div>

    <div class="nav-list">
      <ul>
        <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Agenda</a></li>
      </ul>
    </div>
    <div class="perfil">
      <button><img src="assets/Vector(1).svg" alt="" /><a href="#"></a></button>
    </div>

    <div class="mobile-menu-icon">
      <button (click)="showMenu()">
        <img src="assets/menu_white_36dp.svg" alt="" />
      </button>
    </div>
  </nav>

  <div class="mobile-menu">
    <ul>
      <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Agenda</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Perfil</a></li>
    </ul>
  </div>
</header>
